<%- include('../components/header.ejs') %>

<section class="bg-slate-200">
    <div class="mx-auto max-w-screen-lg p-8 flex gap-8">
        <div class="basis-1/3">
            <div class="aspect-[3/4] bg-white rounded ring-1 ring-slate-200 overflow-hidden flex flex-column justify-center items-center ">
                <img class="bg-cover bg-center object-cover block w-full h-full" src="/public/novels/<%= novel.cover_image %>" alt="cover">
            </div>
        </div>
        <div class="basis-2/3">
            <div>
                <div class="mt-6 mb-6">
                    <label class="font-display block text-3xl font-bold text-slate-800" for="title"><%= novel.title %></label>
                </div>
                <div class="mb-6">
                    <label class="block text-lg text-slate-800" for="description"><%= novel.description %></label>
                </div>
                <div class="mb-6">
                    <label class="block text-lg text-slate-800 italic" for="description"><%= novel.genre %></label>
                </div>
                <div class="mt-8">
                    <button class="mr-2 inline-block text-lg text-white px-6 py-2 rounded-full bg-pink-500 hover:bg-pink-700" type="submit">Start Reading</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="mx-auto max-w-screen-md px-8 gap-8">
        <h2 class="mt-12 mb-12 font-display font-bold text-3xl text-slate-800 text-center">Chapters</h2>
        <% novel.chapters.forEach(function(chapter){ %>
            <a href="/novels/<%= novel._id %>/chapters/<%= chapter._id %>" class="mb-6 block rounded-full ring-1 ring-slate-200 px-4 py-2 flex items-center">
                <span class="mr-auto text-gray-700"><%= chapter.title %></span>
                <span class="text-slate-400">Dec 12, 2023</span>
            </a>
        <% }); %>
    </div>
</section>

<%- include('../components/footer.ejs') %>
